@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider

<a class="navbar-brand" href="~/">
    <!-- BrandingProvider.LogoUrl -->
    <span class="icon-logo"><em>@BrandingProvider.AppName</em></span>
</a>
